/* 公共样式 */

@charset "utf-8";
body {
    font-family: '΢', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
    text-decoration: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
label {
    font-weight: normal;
    font-style: normal;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

a {
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border-radius: 0
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
    overflow: hidden;
}

i {
    display: inline-block;
    position: relative;
    font-style: normal;
}

a {
    outline: none;
}

.fl {
    float: left
}

.fr {
    float: right
}


/* inconfont */

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1525576503509');
    /* IE9*/
    src: url('iconfont.eot?t=1525576503509#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAbcAAsAAAAACfQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kiZY21hcAAAAYAAAABnAAABnM+ubHxnbHlmAAAB6AAAAvEAAAO43/dOjGhlYWQAAATcAAAALwAAADYRSGxpaGhlYQAABQwAAAAcAAAAJAfeA4VobXR4AAAFKAAAABAAAAAQD+kAAGxvY2EAAAU4AAAACgAAAAoCUgDsbWF4cAAABUQAAAAfAAAAIAEUAKluYW1lAAAFZAAAAUUAAAJtPlT+fXBvc3QAAAasAAAALQAAAD5yD86qeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sU4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDxby9zwv4EhhrmBoQEozAiSAwAw2Q0beJzFkNENgCAMRK8UDTGO4qdxCqbwyxFYirW6BraFHybgyCvt5ZISAGwAWLmUCNAHgulVl9xnHO5HPDonPUHvIllqa1NnIk8k79iStGOZaN3qWafXe0z232WgT5TcMV9qB+EHoyUTVwB4nE1SzY/TRhSfN+PM2N7Ejh1nJnESZ2137V2S9RLHO4YCWYkNkFZb8XXgIyckTkhwQEJcOHBB5VBVSD0hcUIg/gUOHKHqpVIl2nNVtf9G044XkHbm6b03837vzfzmDaoh9N9f5B3poBbaRBM0R5cQAjqCyMIDCNMiwyNoh7W28CySxmnI4igjZ0BE1OO5LBJBGbXBggCmYS7TDKewW8zwKcj5AKDb86+6G32XPAOzkwZPVt/il9Aexn17tr36Zrzn5est/WHddbuu+4NOazUdY8224K7gRs0w6epVzfbb74ZbeAj1buof3Gis99xbT4t7gw1hADx+DK3euvVmz/EdJY983nK7rNnQO34j/sqDh/+sdVr1QfI3UoMqrh/IW3IS1VED+aiHDtB3im1Y8YjDitF00g5n8GUlJhBawJwAxLTCpHGU7DqFLEO141gQhzamAeR7oJJKJ4N0AhN40XCcxup23XHqR32s//ujvIDxBXmn2rzTT5I+vt9PAJL+6j1Z+2iA0zV+hvEnEM4/UfoVmpVtAvwOC7la7i4UzFE58Ppz7lJZ7Q+j4xq/wGIXXssFIKQprr+R50SiBfoe/YReKJ5ctcoTATDKLEgTpSqhUaouniknSdWUpSzUqpTlDARXqhKpsirhpeSCMwVjVHX60DL1LypDBfcqpXDTCiV4XhUhVVIpFbQoJaiTVDlVyaqcIqlemTzT9WYQNHWdb9gjPk49n+mxGJweiFi3DjJxzN7gRyBjMU5bPcZi8fUZETPWa6Xjzqhq95Ca4dnTWyYx86mJzWOn9iOTDj1Cd3Yo8QJsaucfdIjZzf0jUQCiwquX8yXAcr6/xPjmfLMsL0uJY77tRtdid5uf2HHtmsHXorYYaKSmDcR4ZGi2e1yKbSe6HjsZP5G5zUOIemKi6yQQXrSmfnHTnVzc2WSEmVERmsAYNsIiMhmmW5nJ5FOp68cTDVvn9g1MyJGgZhIVZas/1YXmN/GhnoG8IpX8D3zFhlEAAAB4nGNgZGBgAGLTLI2seH6brwzcLAwgcF1kijmC/n+UhYHZEsjlYGACiQIA7AsIXAB4nGNgZGBgbvjfwBDDwgACQJKRARWwAABHCgJtBAAAAAPpAAAEAAAABAAAAAAAAAAAdgDsAdwAAHicY2BkYGBgYZjLwMYAAkxAzAWEDAz/wXwGABiVAb4AeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicY2BigAAuBuyAhZGJkZmRhZGVgbGCvSIzMb8i05CtOCO1KiOTgQEAQMgF9wAAAA==') format('woff'), url('iconfont.ttf?t=1525576503509') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1525576503509#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi1:before {
    content: "\e6ad";
}

.icon-shezhi:before {
    content: "\e64c";
}


/* body */

.w-banner {
    position: relative
}

.w-banner .mui-slider .mui-slider-group .mui-slider-item {
    width: 100%;
    height: 9.25rem;
}

.w-banner .mui-slider .mui-slider-group .mui-slider-item a img {
    height: 100%;
    width: 100%
}

.w-banner .w-icon {
    padding: 0 0.4rem;
    width: 100%;
    top: 0.4rem;
    position: absolute;
    z-index: 2;
}


/* .w-banner .w-icon .setting {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/imgs/设置-01.png') no-repeat;
} */


/* .w-banner .w-icon .meassage {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: url('../images/imgs/设置-01.png') no-repeat;
} */

.w-icon span i {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    padding-top: 3px;
}

.w-banner .w-info {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 2.375rem;
}

.w-banner .w-info .w-shopName {
    letter-spacing: 2px;
    width: 10.8rem;
    height: 3.3rem;
    text-align: center;
    line-height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 50%;
    margin-left: -5.4rem;
    z-index: 2;
}

.w-banner .w-info .w-shopTime {
    width: 9rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    color: #fff;
    font-size: 0.6rem;
    background-color: #912025;
    position: absolute;
    z-index: 2;
    top: 2.2rem;
    left: 50%;
    margin-left: -4.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.w-banner .w-info .w-shopAddress {
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 2;
    top: 4.4rem;
    left: 2.8rem
}

.w-banner .w-haveMoney {
    letter-spacing: 1px;
    position: absolute;
    z-index: 2;
    top: 8.5rem;
    background-color: #fff;
    /* border: 1px solid #E5E5E5; */
    border-radius: 8px;
    height: 3.5rem;
    width: 91%;
    margin: 0 0.7rem;
    text-align: center;
    box-shadow: -1px 0 2px #eee, 0 -1px 1px #eee, 0 3px 5px #eee, 1px 0 2px #eee;
}


/* .w-banner .w-haveMoney h4 {
    margin-top: 0.65rem;
    color: #3F3F3F;
    font-size: 0.6rem;
}

.w-banner .w-haveMoney strong {
    display: block;
    margin-top: 0.5rem;
    color: #891218;
    font-size: 1rem;
} */

.w-banner .w-haveMoney ul {
    padding: 0.55rem 0;
}

.w-banner .w-haveMoney ul li {
    padding: 0.2rem 0;
    float: left;
    width: 25%;
    border-right: 1px solid #E5E5E5;
}

.w-banner .w-haveMoney ul li:last-child {
    border-right: 0;
}

.w-banner .w-haveMoney ul li p {
    margin-bottom: 0.2rem;
    color: #3F3F3F;
}

.w-banner .w-haveMoney ul li span {
    color: #891218;
    font-weight: 700;
}

.w-classify {
    padding: 0 0.25rem;
    background-color: #fff;
    padding-top: 3.5rem;
    padding-bottom: 0.25rem;
    margin-bottom: 2.3rem;
}

.w-classify .w-classify-one li {
    float: left;
    height: 2.75rem;
    width: 23.5%;
    padding: 0.7rem 0 0 0.4rem;
    margin-right: 0.3rem;
    /* border: 1px solid #E5E5E5; */
    border-radius: 5px;
    box-shadow: -1px 0 2px #eee, 0 -1px 1px #eee, 0 3px 5px #eee, 1px 0 2px #eee;
    position: relative;
}

.w-classify .w-classify-one li:last-child {
    margin-right: 0;
}

.w-classify .w-classify-one li a h4 {
    font-size: 0.7rem;
    margin: 0;
    color: #912025;
    font-weight: 700;
    font-family: "经典综艺体简"
}

.w-classify .w-classify-one li a p {
    margin-bottom: 0;
    font-size: 0.5rem;
    color: #626262;
    margin-top: 0.1rem;
}

.w-classify .w-classify-one li a img {
    position: absolute;
    right: 0.1rem;
    bottom: 0.05rem;
}

.w-classify-two {
    margin-top: 0.8rem;
}

.w-classify-two li {
    float: left;
    width: 25%;
    text-align: center;
}

.w-classify-two li a p {
    /* margin-top: 0.1rem; */
    margin-bottom: 0;
    color: #626262;
}

.w-classify-three {
    margin-top: 0.8rem;
}

.w-classify-three li {
    float: left;
    width: 49%;
    height: 3.875rem;
    padding-left: 0.4rem;
    overflow: hidden;
}

.w-classify-three li a .w-right {
    width: 48%;
    height: 100%
}

.w-classify-three li a .w-left {
    width: 49%;
    margin-top: 1.05rem;
}

.w-classify-three li a .w-left h4 {
    font-weight: 600;
    font-size: 0.7rem;
}

.w-classify-three li a .w-right img {
    display: inline-block;
    height: 100%;
}

.w-classify-three li:first-child {
    background-color: #CFF0FF;
    margin-right: 0.25rem;
}

.w-classify-three li:first-child a .w-left h4 {
    color: #63B6CE;
}

.w-classify-three li:first-child a .w-left p {
    color: #7CC2D8;
}

.w-classify-three li:nth-child(2) {
    background-color: #FFDFC2;
}

.w-classify-three li:nth-child(2) a .w-left h4 {
    color: #D15D42;
}

.w-classify-three li:nth-child(2) a .w-left p {
    color: #DB7C62;
}

.w-classify-three li:nth-child(3) {
    background-color: #F7CFFF;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
}

.w-classify-three li:nth-child(3) a .w-left h4 {
    color: #A98ECE;
}

.w-classify-three li:nth-child(3) a .w-left p {
    color: #BA9CD8;
}

.w-classify-three li:nth-child(4) {
    background-color: #CFFFDB;
    margin-top: 0.25rem;
}

.w-classify-three li:nth-child(4) a .w-left h4 {
    color: #7CB09E;
}

.w-classify-three li:nth-child(4) a .w-left p {
    color: #A5D7BC;
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    z-index: 100;
    /* max-width: 640px; */
}

.r_footer li {
    float: left;
    width: 20%;
    text-align: center;
    /* padding-bottom: 4px; */
    padding-top: 3px;
}

.r_footer li a {
    color: #333;
    font-size: 11px;
}

.r_footer li:first-child a {
    color: #902126;
}

.two-icon-sy {
    background: url(../images/imgs/index.png) no-repeat;
    width: 30px;
    height: 26px;
    background-size: 30px 26px;
    display: block;
    margin: 0 auto;
}

.two-icon-dksj {
    background: url(../images/imgs/shop.png) no-repeat;
    width: 30px;
    height: 26px;
    background-size: 30px 26px;
    display: block;
    margin: 0 auto;
}

.two-icon-lmsj {
    background: url(../images/imgs/3.png) no-repeat;
    width: 30px;
    height: 26px;
    background-size: 30px 26px;
    display: block;
    margin: 0 auto;
}

.two-icon-gwc {
    background: url(../images/imgs/shopcar.png) no-repeat;
    width: 30px;
    height: 26px;
    background-size: 30px 26px;
    display: block;
    margin: 0 auto;
}

.two-icon-wdzh {
    background: url(../images/imgs/person.png) no-repeat;
    width: 23px;
    height: 26px;
    background-size: 23px 25px;
    display: block;
    margin: 0 auto;
}


/* iphone4 */

@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
    .w-classify .w-classify-one li a img {
        width: 15px
    }
}


/* iphone5 */

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .w-classify .w-classify-one li a img {
        width: 15px
    }
}


/* iphoneX */

@media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {}